.meusfilmes{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meusfilmes h1{
    margin-bottom: 14px;
}


.meusfilmes ul{
    width: 720px;
}   

.meusfilmes ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.meusfilmes div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meusfilmes div a {
    text-decoration: none;
    color: #116feb;
    margin-right: 15px;
}